<div class="row personal-row align-items-center py-2 px-3 justify-content-center" style="text-align: center">
  <div class="col-7">
    <div class="wave-container" >
      <h1 class="wave-text">
        <span>H</span><span>E</span><span>L</span><span>L</span><span>O</span><span>🌎</span><span>!</span>
      </h1>
    </div>
    <p class="cursor typewriter-animation"> whoami? </p>
    i am <b>lumusa2design</b> a programming student with a special interest in algorithms, intelligent systems and data structures.
  </div>
  <div class="col-5">
  <img src="/programmer.png" class="img-fluid"/>
  </div>
</div>
