
  <h2>Formulario Libros</h2>

  <div class="mb-3">
    <label  class="form-label">Libro</label>
    <input type="text" class="form-control" placeholder="Don Quijote de la Mancha" [value]="titulo()" (input)="titulo.set(txtTitle.value)" #txtTitle>
  </div>
  <div class="mb-3">
    <label  class="form-label">Autor</label>
    <input type="text" class="form-control"  placeholder="Miguel de Cervantes" [value]="autor()" (input)="autor.set(txtAutor.value)" #txtAutor >
  </div>
<button type="button" class="btn btn-primary" (click)="AddBook()">Submit</button>

